#apoyan {
  padding: 80px 0;
}
#apoyan li {
  display: inline-block;
  margin: 10px 15px;
  width: 170px;
  vertical-align: top;
}
#apoyan li a {
  display: block;
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#apoyan li a:hover {
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  -webkit-filter: none;
}
#apoyan li h4 {
  display: none;
}
