@import url("http://fonts.googleapis.com/css?family=Montserrat")


#video
	background #428bca
	padding-top 50px
	padding-bottom 30px
	min-height 80%
	h2
		text-align left
		margin 30px
		font-family 'Montserrat', sans-serif
		color #fff
	p
		margin-top 15px;
		color #ddd
		font-family 'Montserrat', sans-serif
		font-style italic
	#wideo
		background #ccc
		height 393px
		margin auto
		width 698px
		

@media screen and (max-width: 768px)
	#video
		#wideo
			width 100%
			
// 400
// 232.25
/*

	400		-	100
	232.25	-	%


*/