@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.woff") format('woff');
}
@import url("http://fonts.googleapis.com/css?family=Montserrat");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
@import url("http://fonts.googleapis.com/css?family=Roboto");
body {
  padding: 80px 0 0 0;
}
#esquema {
  background: #333;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
#esquema,
#esquema div,
#esquema div div {
  padding: 10px;
  margin: 10px;
}
#esquema div {
  background: #777;
}
#esquema div div:nth-child(2) {
  background: #ff0;
}
#esquema div div:nth-child(3) {
  background: #ffa500;
}
#esquema div div:nth-child(4) {
  background: #f00;
}
#esquema div div:nth-child(5) {
  background: #800080;
}
#esquema div div:nth-child(6) {
  background: #00f;
}
#integrantes {
  min-height: 100%;
  min-width: 100%;
  padding: 50px 0;
  text-align: center;
}
#integrantes h2 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}
#integrantes h4 {
  margin: 30px 0;
}
#integrantes article {
  background: rgba(0,0,0,0.4);
  color: #fff;
  display: inline-block;
  font-size: 17px;
  height: 130px;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  width: 280px;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#integrantes article:hover {
  background: rgba(255,255,255,0.6);
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}
#integrantes article .negrita {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
}
#integrantes .face::before {
  content: "\e838";
  font-family: "fontello";
}
#integrantes > div {
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  margin: 0 auto;
  padding: 10px;
  width: 150px;
}
#integrantes > div:hover {
  background: rgba(255,255,255,0.6);
  color: #444;
}
#integrantes > div > p {
  margin: 0;
}
